body {
    background-color:rgb(37, 37, 37);
    color:aliceblue;
    padding:2rem;
    margin:0;
    font-family: 'Architects Daughter', cursive;
    font-size: 12px;
}
h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 2.8rem;
    color: cornflowerblue;
    margin:0;
}
ol {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.6rem;
}